* {
  margin: 0;
  padding: 0;
}

.body--background {
  background-color: #f5f5f5;
}

a.nav-link {
  color: #636363;
  font-size: 1.1rem;
}

a.nav-link:hover {
  color: #4c4c4c;
}

a.nav-link:hover > i.pdf{
  transition: all 0.4s ease;
  color: red
}

a.redirect-link {
  text-decoration: none;
  color: white;
}

i.pdf{
  padding-left:0.3rem;
  font-size:1.125rem;
}